{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('css/groupie') }}
    {{ encore_entry_link_tags('css/jquery-ui') }}
{% endblock %}

{% block app_body %}

    <div style="padding: 15px">

        <h1 class="h1-groupie"> Création de groupe privé </h1>
        {% if app.session.flashbag.has('flash-notice') %}
        <center>
            <div id="flash" class="ui-state-highlight ui-button ui-corner-all" onclick="$(this).hide(500);" style="min-width:600px;padding:15px;margin:10px;">
            {% for flashMessage in app.session.flashbag.get('flash-notice') %}
                <p>{{ flashMessage }}</p>
            {% endfor %}
            </div>
        </center>
        {% endif %}
        {% if app.session.flashbag.has('flash-error') %}
        <center>
            <div class="ui-state-error ui-button ui-corner-all" onclick="$(this).remove();" style="min-width:600px;padding:15px;margin:10px;margin:auto;">
            {% for flashMessage in app.session.flashbag.get('flash-error') %}
                <p>{{ flashMessage }}</p>
            {% endfor %}
            </div>
        </center>
        {% endif %}
        <br>

        {{ form_start(form) }}
        {{ form_errors(form) }}
        <div>
            {{ form_label(form.cn) }}
            {{ form_errors(form.cn) }}
            {{ form_widget(form.cn) }}
        </div>
        <br>
        <div>
            {{ form_label(form.description) }}
            {{ form_errors(form.description) }}
            {{ form_widget(form.description) }}
        </div>
        <br>
        <div class="amui-a-btn ">
            <button class="amui-a-btn is--sm is--default" type="submit" name="btCreer"><img align="absmiddle" src="{{ asset('build/images/add-2.png') }}" />&nbsp;Créer&nbsp;</button>
            <a href="{{ path('homepage') }}">
                <button class="amui-a-btn is--sm is--default" type="button" >
                    <img src="{{asset('build/images/cancel-16.png')}}" alt=""/>
                    &nbsp;Annuler&nbsp;
                </button>
            </a>
        </div>

        {{ form_end(form) }}
        <br>
        <br>
    </div>
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('build/js/jquery-3.6.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('build/js/jquery-ui.1.12.1.min.js') }}"></script>

    {# Ajout d'une fonction javascript pour effacer automatiquement les messages flash après 5s #}
    <script type="text/javascript">
        setTimeout(function(){
            $('#flash').hide(1500);
        },15000);
    </script>


{% endblock %}