{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('css/groupie') }}
    {{ encore_entry_link_tags('css/jquery-ui') }}
{% endblock %}

{% block app_body %}

    <div style="padding: 15px">

        <h1>Aide groupie</h1>
        <h3> Vous pouvez consulter les documents d'aide ici :  </h3>
        <div class="buttons">
            <a href="{{asset('Aide-groupie.pdf')}}" target="_blank" style="padding:2px;"  title="Cliquez ici pour afficher l'aide de l'application">
                <img src="{{asset('build/images/pdf.png')}}" alt=""/>
                &nbsp;Groupes institutionnels&nbsp;
            </a>
        </div><br><br>
        <div class="buttons">
            <a href="{{asset('Aide-groupie-private.pdf')}}" target="_blank" style="padding:2px;"  title="Cliquez ici pour afficher l'aide de l'application">
                <img src="{{asset('build/images/pdf.png')}}" alt=""/>
                &nbsp;Groupes privés&nbsp;
            </a>
        </div>
        <br><br>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
<script type="text/javascript" src="{{ asset('build/js/jquery-3.6.0.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('build/js/jquery-ui.1.12.1.min.js') }}"></script>

{% endblock %}