{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('css/groupie') }}
    {{ encore_entry_link_tags('css/jquery-ui') }}
{% endblock %}

{% block app_body %}
    {% if app.session.flashbag.has('flash-notice') %}
        <center>
            <div id="flash" class="ui-state-highlight ui-button ui-corner-all" onclick="$(this).hide(500);" style="min-width:600px;padding:15px;margin:10px;">
                {% for flashMessage in app.session.flashbag.get('flash-notice') %}
                    <p>{{ flashMessage }}</p>
                {% endfor %}
            </div>
        </center>
    {% endif %}
    {% if app.session.flashbag.has('flash-error') %}
        <center>
            <div class="ui-state-error ui-button ui-corner-all" onclick="$(this).remove();" style="min-width:600px;padding:15px;margin:10px;margin:auto;">
                {% for flashMessage in app.session.flashbag.get('flash-error') %}
                    <p>{{ flashMessage }}</p>
                {% endfor %}
            </div>
        </center>
    {% endif %}

    <table class="ui-widget-content dataTable TabInfos" filter="25">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>amuGroupFilter</th>
            <th>Ajouter des droits</th>
            </tr>
        </thead>
        <tbody>
        {% for group in groups %}
        <tr >
          <td style="vertical-align: middle;">{{group.cn }}</td>
              <td style="vertical-align: middle;">{{group.description }}</td>
              <td style="vertical-align: middle;">{{group.amugroupfilter }}</td>
              <td style="vertical-align: middle;">
                <img class="jqtip ui-button" align="absmiddle" src="{{ asset("bundles/app/images/ico/16/add-1.png") }}" title="Ajouter un membre" class="ui-button" onclick='loadPage("{{ path('user_search', { 'opt': 'add', 'cn': group.cn }) }}");' />
              </td>
            </tr>
       {% endfor %}

        </tbody>

    </table>
    <br>
    <div class="amui-a-btn" style="text-align: left">
        <button class="amui-a-btn is--sm is--default" type="button" onclick="history.back()">
            <img src="{{asset('build/images/prev-green.png')}}" alt=""/>
            &nbsp;Retour
        </button>
    </div>
{#    <button type="button" class="ui-button ui-widget-content ui-corner-all" style="padding:5px;" onclick="loadPage('{{ path('accueil') }}');" ><img align="absmiddle" src="{{asset('bundles/app/images/ico/16/home.png')}}" />&nbsp;Retour à l'accueil&nbsp;</button>
#}
{% endblock %}