{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('css/groupie') }}
{% endblock %}

{% block app_body %}

    <div style="padding: 15px">

        <h1 class="h1-groupie">Recherche d'utilisateurs</h1>

        {% if app.session.flashbag.has('flash-notice') %}
            <center>
                <div id="flash" class="ui-state-highlight ui-button ui-corner-all" onclick="$(this).hide(500);" style="min-width:600px;padding:15px;margin:10px;">
                    {% for flashMessage in app.session.flashbag.get('flash-notice') %}
                        <p>{{ flashMessage }}</p>
                    {% endfor %}
                </div>
            </center>
        {% endif %}
        {% if app.session.flashbag.has('flash-error') %}
            <center>
                <div class="ui-state-error ui-button ui-corner-all" onclick="$(this).remove();" style="min-width:600px;padding:15px;margin:10px;margin:auto;">
                    {% for flashMessage in app.session.flashbag.get('flash-error') %}
                        <p>{{ flashMessage }}</p>
                    {% endfor %}
                </div>
            </center>
        {% endif %}

        <h2> Ajout de personnes en masse </h2>
        <br>
        <h3> Saisissez une liste d'identifiants ou d'emails (un par ligne). </h3>
        <br>
        <br>
        <div class="col-xl">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <div>
            {{ form_label(form.multiple) }}
            {{ form_errors(form.multiple) }}
            {{ form_widget(form.multiple) }}
        </div>
        <br>
        <br>
        <p>
        <div class="amui-a-btn ">
            <button class="amui-a-btn is--sm is--default" type="submit" name="btAjouter"><img align="absmiddle" src="{{ asset('build/images/user-add.png') }}" />&nbsp;Ajouter&nbsp;</button>
            <a href="{{ path('homepage') }}">
                <button class="amui-a-btn is--sm is--default" type="button" >
                    <img src="{{asset('build/images/cancel-16.png')}}" alt=""/>
                    &nbsp;Annuler&nbsp;
                </button>
            </a>
        </div>
        </p>
        <br>
        <br>
        {{ form_end(form) }}
        </div>

        {% if opt=='add' %}
            <br>
            <div class="amui-a-btn" style="text-align: left">
                <button class="amui-a-btn is--sm is--default" type="button" onclick="history.back()">
                    <img src="{{asset('build/images/prev-green.png')}}" alt=""/>
                    &nbsp;Retour
                </button>
            </div>
            <br><br>
        {% endif %}

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {# Ajout d'une fonction javascript pour effacer automatiquement les messages flash après 5s #}
    <script type="text/javascript">
        setTimeout(function(){
            $('#flash').hide(1500);
        },15000);
    </script>
{% endblock %}